.layout__center {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden; }

.layout__textCenter {
  text-align: center; }

.layout__left {
  float: left; }

.layout__right {
  float: right; }

.layout__bottom {
  position: fixed;
  bottom: 0; }

.layout__neutral {
  padding: 0; }

.layout__full {
  width: 100%;
  height: 100%;
  position: relative; }

.layout__contain {
  position: relative; }

.layout__1_1 {
  width: 100%;
  overflow: hidden; }

.layout__1_2 {
  width: 50%; }

.layout__1_3 {
  width: 33.333333%; }

.layout__1_4 {
  width: 25%; }

.layout__1_5 {
  width: 20%; }

.layout__1_6 {
  width: 16.6666666%; }

a, p {
  font-family: 'PT Serif', serif; }

h1, h2, h3, h4, h5, h6, .look__more {
  font-family: 'Voltaire', sans-serif; }

strong, b {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

em, i {
  font-style: italic; }

.look__highlight {
  color: #5acf70; }

h1, h2, h3, h4, h5, h6, a, p {
  color: #585858; }

body {
  background-color: whitesmoke; }

header, footer {
  background-color: #fafafa; }

html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  line-height: 1.4rem; }

header, footer {
  padding: 10px 0; }

nav a {
  font-size: 18px;
  text-decoration: none; }
  nav a:hover, nav a:active {
    color: #0084b4; }

article {
  padding-bottom: 50px; }

h1 {
  margin: 10px 0 30px 0; }

h2 {
  margin: 30px 0 10px 0; }

a, p {
  font-size: 14px; }
  a.look__image:hover, a.look__image:active, p.look__image:hover, p.look__image:active {
    border: 5px solid #b4007f; }
  a.look__excerpt, p.look__excerpt {
    display: block;
    height: 90px; }

.look__image {
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 5px solid #fafafa;
  outline: 1px solid #e4e4e4;
  margin: 0px 1px;
  display: block; }

.look__borderTop {
  border-top: 1px solid #e4e4e4; }

.look__borderBottom {
  border-bottom: 1px solid #e4e4e4; }

.look__gassyEyes {
  background-image: url("../img/gassyEyes.png");
  background-size: 48px 94px;
  position: relative;
  top: -10px;
  margin: 0 0 -10px 0;
  width: 48px;
  height: 47px;
  display: block; }
  .look__gassyEyes.look__noEyes {
    background-image: none; }
  .look__gassyEyes:hover, .look__gassyEyes:active {
    background-position: 0px -47px; }

.look__twitter {
  color: #0084b4;
  text-decoration: none; }
  .look__twitter:hover, .look__twitter:active {
    text-decoration: underline; }

.look__external {
  color: #b4007f;
  text-decoration: none; }
  .look__external:hover, .look__external:active {
    text-decoration: underline; }

.look__more {
  font-size: 18px;
  display: block;
  width: auto;
  text-align: center;
  color: #b4007f;
  text-decoration: none;
  margin-bottom: 20px; }
  .look__more:hover, .look__more:active {
    text-decoration: underline; }

@media screen and (max-width: 480px) {
  nav a {
    font-size: 14px; } }
