body {
  @extend %backgroundDirty;
  line-height: 1.4rem;
}

header, footer {
  @extend %backgroundNormal;
  padding: 10px 0;
}

nav {
  a {
    font-size: 18px;
    text-decoration: none;

    &:hover, &:active {
      color: $twitter;
    }

  }
}

article {
  padding-bottom: 50px;
}

em, i {
  @extend %fontItalic;
}

strong, b {
  @extend %fontBold;
}

h1, h2, h3, h4, h5, h6 {
  @extend %fontHeader;
  @extend %colorNormal;
  @extend %fontNormal;
}

h1 {
  margin: 10px 0 30px 0;
}

h2 {
  margin: 30px 0 10px 0;
}

a, p {
  @extend %fontContent;
  @extend %colorNormal;
  font-size: 14px;

  &.look__image {
    &:hover, &:active {
      border: 5px solid $link;
    }
  }
}

.look__image {
  height: 200px;
  background-size: cover;
  background-position: center;
  border: 5px solid $white;
  outline: 1px solid $gray;
  margin: 0px 1px;
  display: block;
}

.look__highlight {
  @extend %colorHighlight;
}

.look__borderTop {
  border-top: 1px solid $gray;
}

.look__borderBottom {
  border-bottom: 1px solid $gray;
}

.look__gassyEyes {
  background-image: url('../img/gassyEyes.png');
  background-size: 48px 47px;
  position: relative;
  top: -10px;
  margin: 0 0 -10px 0;
  width: 48px;
  height: 47px;

  &.look__noEyes {
    background-image: none;
  }

}

.look__twitter {
  color: $twitter;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

.look__external {
  color: $link;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

.look__more {
  @extend %fontHeader;
  font-size: 18px;
  display: block;
  width: auto;
  text-align: center;
  color: $link;
  text-decoration: none;

  &:hover, &:active {
    text-decoration: underline;
  }
}

@media screen and (max-width: 480px) {
  nav {
    a {
      font-size: 14px;
    }
  }
}